{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}


<div class="register-photo">
    <div class="form-container">
        <form action="{% url 'criar_publicacao' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center"><strong>Crie sua publicação</strong></h2>
            <div class="row">
                <div class="col-12 col-lg-12">
                    <label for="nome_publicacao"><b>Título da Publicação*</b></label>
                    <input type="text" id="nome_publicacao" class="form-control" name="nome_publicacao"
                           placeholder="Ex: Avião de Madeira" required>
                </div>
                <div class="col-12">
                    <label for="file"><b>Descrição*</b></label>
                    <textarea class="form-control" name="descricao" cols="30" rows="10"
                              placeholder="Ex:  Avião de Madeira, feito a mão..." required></textarea>
                </div>
                <div class="col-12 col-lg-3">
                    <label for="file"><b>Preço*</b></label>
                    <input type="number" class="form-control" name="preco" placeholder="Ex: R$ 39,99" required>
                </div>
                <div class="col-12 col-lg-3">
                    <label for="file"><b>Categoria*</b></label>
                    <input type="text" class="form-control" name="categoria" placeholder="Ex: Carpintaria" required>
                </div>
                <div class="col-12 col-lg-3">
                    <label for="file"><b>Foto*</b></label>
                    <input type="file" class="form-control" name="foto_publicacao" required>
                </div>
                <div class="col-12 text-center">
                    <div class="form-group">
                        <button class="btn-primary" type="submit">Cadastrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}
