{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}


<div class="register-photo">
    <div class="form-container">
        <form action="{% url 'info_usuario' %}" method="POST">
            {% csrf_token %}
            <h2 class="text-center"><strong>Conte-nos mais sobre você!</strong></h2>
            <div class="row">
                <div class="col-12 col-lg-12">
                    <label><b>Possui conta no Mercado Livre? Nos informe o seu perfil*:</b></label>
                    <input type="text" class="form-control" name="site"
                           placeholder="Ex: https://www.mercadolivre.com.br/perfil/UNIVERSOCULTURAL" required>
                </div>
                <div class="col-12">
                    <label for="file"><b>Telefone de Contato*:</b></label>
                    <input type="tel" class="form-control" name="telefone" placeholder="Ex: 083987654321" required>
                </div>
                <div class="col-12">
                    <label for="file"><b>Fale sobre Você*:</b></label>
                    <textarea class="form-control" name="sobre" cols="30" rows="10"
                              placeholder="Ex: Vendo produtos de crochê..." required></textarea>
                </div>
                <div class="col-12 col-lg-3">
                    <label for="file"><b>Adicione sua Foto*:</b></label>
                    <input type="file" class="form-control" name="foto_usuario" required>
                </div>

                <div class="col-12 text-center">
                    <button class="btn-primary" type="submit">Atualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}
