{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_busca.html' %}

{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->


<div class="login-clean">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h2 class="text-center"><strong>Login</strong></h2>
        <div class="row">
            <div class="col-12 col-lg-12">
                <label for="email"><b>Email:</b></label>
                <input type="text" id="email" class="form-control" name="email"
                required>
            </div>
            <div class="col-12 col-lg-12">
                <label for="senha"><b>Senha:</b></label>
                <input id="senha" type="password" class="form-control" name="senha"
                required>
            </div>
            <div class="col-12 text-center">
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Acessar sua conta</button>
                <button type="button" class="btn btn-primary" onclick="exibirCriarConta()">Criar uma conta
                </button>
            </div>
        </div>
    </form>
</div>


<script>
function exibirCriarConta()
{
     location.href = "{% url 'cadastro' %}";
}

</script>
{% include 'partials/_footer.html' %}
{% endblock %}